@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

$primaryColor: #e2211c;
$secondaryColor: #111111;
$backgroundColor: #f7f7f7;

html {
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: $secondaryColor;
}

h1 h2 h3 h4 {
  letter-spacing: 20px;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 37px;
  line-height: 49px;
}

h3 {
  font-size: 30px;
  line-height: 39px;
}

h4 {
  font-size: 20px;
  line-height: 29px;
}

h5 {
  font-size: 17px;
  letter-spacing: 100px;
  line-height: 26px;
}

h6 {
  font-size: 15px;
  letter-spacing: 6px;
  line-height: 26px;
}

nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  -moz-box-shadow: 0px 40px 34px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 25px 38px -45px rgba(0, 0, 0, 0.35);
  padding: 0;
  padding-bottom: 15px;
  text-transform: uppercase;

  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0 3%;
    display: flex;
    align-items: center;
    li {
      display: inline;
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 1.2px;
      a {
        color: $secondaryColor;
        text-decoration: none;
        margin: 0 10px;
      }
    }
  }

  #logo {
    float: left;
  }

  .menu {
    margin: auto;
  }

  .icon_menu {
    margin-left: 40px;
    img {
      height: 16px;
    }
    li {
      .arrow {
        height: 8px;
        margin-bottom: 4px;
      }
    }
    h6 {
        letter-spacing: 3px;
        display: inline-block;
        transform: translate(-32px, -5px);
        font-size: 13px;
    }
  }

  .vl {
    border-left: 2px solid rgba($color: #000000, $alpha: 0.2);
    height: 23px;
    display: inline-block;
  }
}
