@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

$primaryColor: #e2211c;
$secondaryColor: #111111;
$backgroundColor: #f7f7f7;

h1{
    font-family: 'Poppins Bold', sans-serif;
    font-size: 40pt;
    color: $secondaryColor;
    letter-spacing: 20pt;
    line-height: 50pt;
}

h2{
    
}